<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://englishschoolmanager.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>englishschoolmanager.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>englishschoolmanager</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$englishschoolmanager</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ESMEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:dwraal58wi.database.windows.net,1433;Initial Catalog=englishsm;User ID=englishsm@dwraal58wi;Password=esm@)!$2014" Name="Data Source=tcp:dwraal58wi.database.windows.net,1433;Initial Catalog=englishsm;User Id=englishsm@dwraal58wi;Password=esm@)!$2014" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=dwraal58wi.database.windows.net;Initial Catalog=englishsm;Persist Security Info=True;User ID=englishsm@dwraal58wi;Password=esm@)!$2014;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ESMEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/ESMEntities.csdl|res://*/ESMEntities.ssdl|res://*/ESMEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dwraal58wi.database.windows.net;initial catalog=englishsm;persist security info=True;user id=englishsm@dwraal58wi;password=esm@)!$2014;multipleactiveresultsets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ESMEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/ESMEntities.csdl|res://*/ESMEntities.ssdl|res://*/ESMEntities.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:dwraal58wi.database.windows.net,1433;initial catalog=englishsm;user id=englishsm@dwraal58wi;password=esm@)!$2014;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>